<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="video-table-container">
    <h1>Series List</h1>
    <form method="get" action="/">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" id="search" name="q" value="<%= q %>">
            <button type="submit">Search</button>
        </div>
    </form>
    <div class="create-series-link">
        <a href="/create" class="btn-create">Create New Series</a>
    </div>
    <form method="post">
    <table class="series-table">
        <thead>
            <tr>
                <th><a href="/?sortField=name&q=<%= q %>">Name</a></th>
                <th>Link</th>
                <th><a href="/?sortField=summary&q=<%= q %>">Summary</a></th>
                <th><a href="/?sortField=score&q=<%= q %>">Score</a></th>
                <th><a href="/?sortField=category&q=<%= q %>">Category</a></th>
            </tr>
        </thead>
        <tbody>
            <% for( let i=0; i < series.length; i++ ) { %>
                <% const serie=series[i]; %>
                    <tr>
                        <td>
                            <%= serie.name %>
                        </td>
                        <td>
                            <a href="<%= serie.link %>">
                                <%= serie.link %>
                            </a>
                        </td>
                        <td>
                            <%= serie.summary %>
                        </td>
                        <td>
                            <%= serie.score %>
                        </td>
                        <td>
                            <%= serie.category %>
                        </td>
                    </tr>
                    <% } %>
        </tbody>
    </table>
    </form>
</div>

<%- include("partials/footer") %>
